.imgs{
    height: 50px !important;
    width: 50px !important;
}
.divimg{
    height: 20px !important;
    widows: 20px !important;
}
.mundo{
    height: 12em !important;
    width: 12em !important;
}
/* .divmundo{
    height: 100% !important;
    width: 100%v
} */
p{
    color: white !important;
}
.padimg{
    height: 10em !important;
    width: 15em !important;
}
.regalo{
    height: 6em !important;
    width: 6em !important;
}
.p-lugar{
    margin-top: 12em;
}
.container{
    margin-top: 3em;
    height: 43em !important;
}
.slider{
    height: 35em !important;
    
}
.slides{
    background-color: #80cbc4 !important;
    height: 32em !important;

}
.listas{
    height: 37em !important;
}
.tamañop{
    font-size: 10px;
}
