.select-wrapper input.select-dropdown{
    padding: 0 0 0 10%;
    margin: 0;
    color:#8190A5;
}

.input-field{
    margin-top: 0px;
    margin-bottom: 0px;
}

.colorTarjeta{
    background-color: #E6EEE3;
}

.card-title{
    color: #3F4C5E !important;
}

.colorP{
    color: #8190A5;
}

