*{
    margin: 0%;
    padding: 0%
}
.logo{
    height: 10em !important;
    /* margin-top: 0.5em !important; */
}
.divVolver{
    margin-top: 0.5em;
}
.btnVolver{
    background-color: transparent !important;
    color: gray;
}
body{
    font-family: 'Roboto', sans-serif;
}